.wrapper {
    width: 100%;
    height: 100px;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
}

.right {
    width: 50%;
    height: 100%;
    float: right;
}

.c-table {
    background-color: #3d253b;
    color: #F36437;
    width: 95%;
    margin: auto;
    border: 10px solid #3d253b;
    border-radius:6px;
    padding: 5px;
    text-align: start;
}

h2{
    color: #F36437;
    text-align: center;
}

th, td{
    border-left: 1px solid rebeccapurple;
}

td{
    border-top: 1px solid #ddd;
}

tr:hover {background-color: #ddd;}

td:first-child, th:first-child {
    border-left: none;
}